.healty{
    color: rgb(48, 48, 48);
}

#backList{
    width: 80px;
    background-color: #003399;
    font-size: 14px;
    padding: 3px;
    color: white;
    cursor: pointer; 
    text-transform: uppercase;
    text-align: center;
}

input[type=submit]
{
    width: 100px;
    background-color: #003399;
    margin-left: 10px;
    font-size: 10px;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    outline: none;
    text-transform: uppercase;
}

input[type=submit]:hover{
    background-color: #3399FF;
    border: 1px solid #003399;
    color: rgb(48, 48, 48);

}