article{
    border: 1px solid rgb(48, 48, 48);
    margin-top: 60px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

h2{
    text-transform: uppercase;
    border-bottom: 1px solid rgb(48, 48, 48);
}

h3{
    text-transform: uppercase;
    border-bottom: 1px solid rgb(48, 48, 48);
}

ul > li{
    margin-top: 15px;
}

ul > li > ul {
    font-size: 14px;
}

ul > li > ul  > ul > li {
    margin-top: 0px;
}

li>a:hover{
    color:#003399;
}

li>b>a:hover{
    color:#003399;
}
.healty{
    color: rgb(48, 48, 48);
}