body{
     /* Background pattern from Toptal Subtle Patterns */
    /*background-image: url('img/background.png');*/
    background-color: #FFFFFF;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0px;
    color: rgb(48, 48, 48);
} 

footer{
    background-color: #3399FF;
    margin-top: 40px;
    padding: 20px;
    text-align: center;

}
