/* GŁÓWNY ARKUSZ */

html, body {
    margin:0;
    padding:0;
}

body{
    background-color:   #f2f2f2;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(48, 48, 48);
}

.container {
    position:relative;
    margin-left: auto;
    margin-right: auto;
}


.main_header{
    border-bottom: #3399FF solid 4px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

footer{
    background-color: #3399FF;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
	bottom:0;
	width:100%;
	height:20px;		
}